<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="Less/styles.css">
    <script src="Js/script.js"></script>
</head>
<body>
      
    <div class="container">
      
        <div class="row">
            <div id="GOD">
                <h1>Happy Birthday Babyyyy Boo :* :* :*</h1>
            </div>
        </div>
        
        <div class="row">
        <div class="Hey">
          
            <img src="Images/23A6DC88-D207-4319-AF83-1B0CFA373FB1.jpeg">
            
        </div>
    </div>
    <div class="ClickMe">
        <p>"Hey Beautiful..."</p>
        <img src="Images/Hey.gif">
    </div>
    <div class="row">
            <div class="col-md-4 col-sm-3 ins" style="margin-top:70px;">
                <p >Click The Button </p>
            </div>
            <div class="col-md-5 col-sm-3 " >
        <div class="CMore">
            <button class="button"><p style="margin:0;font-weight:600">View More </p></button>
        </div>
    </div>
    </div>
    <div class="row ">
      
        <div class="col-md-3 col-sm-12 L" >
             
                <div class="flip-box">
                        <div class="flip-box-inner">
                          <div class="flip-box-front">
                                <h2>Radiant</h2>
                                <p>The way you are..............The way you give your Love..............Your Love is an anchor.............. Your Love is a strength and way beyond everything.........!! <h5>I LOVE YOU</h5></p>
                          </div>
                          <div class="flip-box-back" style="margin-left:50px;">                          
                            <img src="Images/359B08A9-9F8F-47D1-9BBE-BBABC349B201.jpeg">
                          </div>
                        </div>
                      </div>   
                  <div class="card x">
                        <p><b>R</b></p>
                  </div>    
        </div>
      
        <div class="col-md-3 col-sm-12 L" >
        <div class="flip-box">
                <div class="flip-box-inner">
                  <div class="flip-box-front">
                        <h2>Adorable</h2>
                        <p>The most interesting part of you is your smile, Your smile is my pain killer, Your smile makes the odd's into even and your smile makes my Heart pound for you.....!<h5>I LOVE YOU</h5> </p>
                  </div>
                  <div class="flip-box-back" style="margin-left:50px;">                          
                    <img src="Images/48EE02A4-C01A-41DE-A7E2-54CCCD5C6022.jpeg">
                  </div>
                </div>
              </div> 
              <div class="card x">
                    <p><b>A</b></p>
             </div>  
        </div>      
        <div class="col-md-3 col-sm-12 L" >
                <div class="flip-box">
                        <div class="flip-box-inner">
                          <div class="flip-box-front">
                                <h2>Gorgeous</h2>
                                <p>The most beautiful things are never expressed and said unless it is experienced, You are  indeed the most gorgeous girls I've ever met.....!<h5>I LOVE YOU</h5>  </p>
                          </div>
                          <div class="flip-box-back" style="margin-left:50px;">                          
                            <img src="Images/5591AE85-8C04-4E4E-8162-BB0E6AC1512C.jpeg">
                          </div>
                        </div>
                      </div>
            <div class="card x">
                    <p><b>G</b></p>
            </div>        
        </div>    
        <div class="col-md-3 col-sm-12 L" >
                <div class="flip-box">
                        <div class="flip-box-inner">
                          <div class="flip-box-front">
                                <h2>Amiable</h2>
                                <p>Love you now, a little more tomorrow my babyy. I love your good humored personality..........     <h5>I LOVE YOU</h5> </p>
                          </div>
                          <div class="flip-box-back" style="margin-left:50px;">                          
                            <img src="Images/87F8EE0E-C0F9-46D5-982F-E684E197888D.jpeg">
                          </div>
                        </div>
                      </div> 
            <div class="card x">
                    <p><b>A</b></p>
            </div>          
        </div>          
    
    </div>
    <div class="row " margin-top:25px;>
       
            <div class="col-md-3 col-sm-12 L" >
                    <div class="flip-box">
                            <div class="flip-box-inner">
                              <div class="flip-box-front">
                                    <h2>Mesmerizing</h2>
                                    <p>The Charm and light you carry around is more luminous than the stars...Your Love, Your Care, Your Kindness and everything makes you the brightest of all...!<h5>I LOVE YOU</h5></p>
                              </div>
                              <div class="flip-box-back" style="margin-left:50px;">                          
                                <img src="Images/BF5369FC-5C0F-4291-B1AA-30D308011606.jpeg">
                              </div>
                            </div>
                          </div>   
                      <div class="card x">
                            <p><b>M</b></p>
                      </div>    
            </div>
            <div class="col-md-3 col-sm-12 L" >
            <div class="flip-box">
                    <div class="flip-box-inner">
                      <div class="flip-box-front">
                            <h2>Amazing</h2>
                            <p>You are the most amazing woman by Heart and Soul.................The Faith, The Love you carry are true and Loyal through Heart........ <h5>I LOVE YOU</h5> </p>
                      </div>
                      <div class="flip-box-back" style="margin-left:50px;">                          
                        <img src="Images/DF6C6FA5-66AE-430F-812A-469E0C9AA24A.jpeg">
                      </div>
                    </div>
                  </div> 
                  <div class="card x">
                        <p><b>A</b></p>
                 </div>  
            </div>      
            <div class="col-md-3 col-sm-12 L" >
                    <div class="flip-box">
                            <div class="flip-box-inner">
                              <div class="flip-box-front">
                                    <h2>Yourself</h2>
                                    <p>The Love which you carry inside your Heart is immense and is unmeasurable. Be yourself babyyyyyyyyyyyyyyyy.<h5>I LOVE YOU</h5></p>
                              </div>
                              <div class="flip-box-back" style="margin-left:50px;">                          
                                <img src="Images/E5DA715F-6602-4070-BC22-3205207ABC33.jpeg">
                              </div>
                            </div>
                          </div>
                <div class="card x">
                        <p><b>Y</b></p>
                </div>        
            </div>    
            <div class="col-md-3 col-sm-12 L" >
                    <div class="flip-box">
                            <div class="flip-box-inner">
                              <div class="flip-box-front">
                                    <h2>Elegant</h2>
                                    <p>When you smile,the elegance in you makes my soul happy coz you are such an adorable woman. ....<h5>I LOVE YOU</h5> </p>
                              </div>
                              <div class="flip-box-back" style="margin-left:50px;">                          
                                <img src="Images/EF68AFDB-4EBE-4B7A-BFD9-2E67EC11DD19.jpeg">
                              </div>
                            </div>
                          </div> 
                <div class="card x">
                        <p><b>E</b></p>
                </div>          
            </div>          
        
        </div>
        <div class="row" style="margin-top:150px;">
           
            <div class="col-md-6 col-sm-12 BG">
                    
                <img style="width:100%" src="Images/BF5369FC-5C0F-4291-B1AA-30D308011606.jpeg">
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="i">
                <div class="q" style="margin-left:25px;"> 
                    <h2>CHINNUUUU BABYYYYYY <3</h2>
                    <div class="w">
                            <p> You will always mean the world to me and so much more.</p> <p>You've changed my life from a blink of the eye.</p><p> I'll take care of you till my dying day.</p>
                        <div class="e">
                            <img src="Images/15A943C9-4A8D-406F-A6DF-ED3CAB3707F4.jpeg">
                        </div>
                    </div>
                </div></div>
            </div>
               

            </div> 
           
<div class="row">
    <div class="Three">
        <h4></h4>
    </div>
</div>
    
                <div class="row" style="margin-top:150px;">
                        <div class="col-md-8 col-sm-6 BG">
                                <img src="Images/DF6C6FA5-66AE-430F-812A-469E0C9AA24A.jpeg">
                            </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="i">
                            <div class="q"> 
                                <h2>~Butta Bomma~</h2>
                                <div class="w">
                                        <h5></b></h5>
                                    <div class="e">
                                            
                                    </div>
                                </div>
                            </div></div>
                        </div>
                            
            
                        </div>        
                        <div class="row" style="margin-top:150px;">
                                <div class="col-md-12 col-sm-12 BG">
                                    
                                    </div>
                              
                                </div>  
                                <div class="row">
                                    <div class="col-md-3"></div>
                                        <div class="col-md-9 col-sm-12">
                                                <div class="i" style="margin-top:50px;">
                                                <div class="q"> 
                                                    <h2>Baby Doll</h2>
                                                    <div class="w">
                                                            <h5> You are the Angel sent from Heaven. I'll take care of you like a just born babyy.You've showed me the world in such a short time. I'll always be there for you.</h5>
                                                        <div class="e">
                                                               
                                                        </div>
                                                    </div>
                                                </div></div>
                                            </div>
                                </div> 



                                <div class="row">
                                        <div class="Three">
                                            <h4></h4>
                                        </div>
                                    </div>
                                 <div class="row" style="margin-top:150px;">
                                        <div class="col-md-12 col-sm-6 BG">
                                                <img src="Images/87F8EE0E-C0F9-46D5-982F-E684E197888D.jpeg">
                                            </div>
                                       
                                            
                            
                                        </div>   
                                        <div class="row">
                                           
                                                <div class="col-md-9 col-sm-12">
                                                        <div class="i" style="margin-top:50px;">
                                                        <div class="q"> 
                                                            <h2>My Love</h2>
                                                            <div class="w">
                                                                    <h5> “I wanna kiss your Forehead and feel the warmth of Love till the last breath of mine living together at all times and <br> <b> my heart is for you....</b> <br> and I am Sorry if I ever happen to hurt you....<br>Wishing you a happy birthday Love..”</h5>
                                                                <div class="e">
                                                                        
                                                                </div>
                                                            </div>
                                                        </div></div>
                                                    </div>
                                                    <div class="col-md-3">
                                                            <img src="Images/359B08A9-9F8F-47D1-9BBE-BBABC349B201.jpeg">
                                                        </div>
                                        </div>
    </div>
   
</body>
</html>